<!DOCTYPE html>
<html lang="zxx">
    
<!-- Mirrored from templates.hibootstrap.com/xton/default/index-4.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 05 Feb 2025 12:25:18 GMT -->
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Links of CSS files -->
        <link rel="stylesheet" href="user/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="user/assets/css/animate.min.css">
        <link rel="stylesheet" href="user/assets/css/boxicons.min.css">
        <link rel="stylesheet" href="user/assets/css/flaticon.css">
        <link rel="stylesheet" href="user/assets/css/magnific-popup.min.css">
        <link rel="stylesheet" href="user/assets/css/nice-select.min.css">
        <link rel="stylesheet" href="user/assets/css/slick.min.css">
        <link rel="stylesheet" href="user/assets/css/owl.carousel.min.css">
        <link rel="stylesheet" href="user/assets/css/meanmenu.min.css">
        <link rel="stylesheet" href="user/assets/css/rangeSlider.min.css">
        <link rel="stylesheet" href="user/assets/css/style.css">
        <link rel="stylesheet" href="user/assets/css/dark.css">
        <link rel="stylesheet" href="user/assets/css/responsive.css">

        <title>Xton - eCommerce HTML Template</title>

        <link rel="icon" type="image/png" href="user/assets/img/favicon.png">
    </head>