<!DOCTYPE html>
<html>
<head>
    <title>Addresses - Xton</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <!-- Account Menu -->
    <div class="account-tabs-menu">
        <ul>
            <li><a href="index.html"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
            <li><a href="orders.html"><i class='bx bxs-shopping-bag'></i> Orders</a></li>
            <li><a href="addresses.html" class="active"><i class='bx bxs-map'></i> Addresses</a></li>
            <li><a href="account-details.html"><i class='bx bxs-user-detail'></i> Account Details</a></li>
            <li><a href="/logout"><i class='bx bx-log-out'></i> Logout</a></li>
        </ul>
    </div>

    <!-- Addresses Content -->
    <div class="account-tabs-content">
        <div class="dashboard-box">
            <h3>Shipping Address</h3>
            <div class="address-box">
                <p>John Doe<br>
                123 Street Name<br>
                City, State 12345<br>
                United States</p>
                <a href="#" class="default-btn">Edit</a>
            </div>
        </div>
    </div>
</body>
</html>