<%- include('../partials/user/header') %>

<body>
    <!-- Account Menu -->
    <div class="account-tabs-menu">
        <ul>
            <li><a href="index.html" class="active"><i class='bx bxs-dashboard'></i> Dashboard</a></li>
            <li><a href="orders.html"><i class='bx bxs-shopping-bag'></i> Orders</a></li>
            <li><a href="addresses.html"><i class='bx bxs-map'></i> Addresses</a></li>
            <li><a href="account-details.html"><i class='bx bxs-user-detail'></i> Account Details</a></li>
            <li><a href="/logout"><i class='bx bx-log-out'></i> Logout</a></li>
        </ul>
    </div>

    
</body>
<%- include('../partials/user/footer') %>
